body {
	background-color: lightgray;
	font-family: Verdana, sans-serif;
	color: gray;
}

div {
	width: 80%;
	margin: auto;
	border: none;
	line-height: 1.8;
}

div label {
	font-size: 13px;
}


.input1 {
	width: 90%;
	border-radius: 4px;
	border: none;
}

.input2 {
	width: 36.5%;
	border-radius: 4px;
	border: none;
}

.input3 {
	width: 36.5%;
	border-radius: 4px;
	border: none;
	position: relative;
	left: 11%;
}

.textarea {
	width: 88%;
	height: 70px;
	border-radius: 4px;
	border: none;
	resize: none;
	vertical-align: top;
	position: relative;
	top: 10px;
}

.pictext {
	vertical-align: top;
	position: relative;
	top: 15px;
}

.picture1 {
	width: 88.5%;
	height: 50%;
	border-radius: 4px;
	position: relative;
	top: 20px;
}



